<!DOCTYPE HTML>

<html>
	<head>
		<title>USC - SPORTS</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/jquery.scrollgress.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-wide.css" />
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body>

		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<h1>USC Sports Database</h1>
				<nav id="nav">
					<ul>
						<li><a href="index.html" class="button">Home</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="container">
				<header>
					<h2>Coach Account Registration</h2>
				</header>

				<form action="#">
					<div class="row uniform 50%">
										<div class="12u">
											<div class="select-wrapper">
												<h2>Shooting Hand</h2>
												<select name="ShootingHand" id="category">
													<option value="1">Right</option>
													<option value="2">Left</option>
												</select>
											</div>
										</div>
									</div>
					<div class="row uniform 50%">
										<div class="12u">
											<div class="select-wrapper">
												<h2>Position</h2>
												<select name="Position" id="category">
													<option value="1">Point Guard</option>
													<option value="2">Shooting Guard</option>
													<option value="3">Small Forward</option>
													<option value="3">Power Forward</option>
													<option value="3">Center</option>
												</select>
											</div>
										</div>
									</div>
						<div class="row uniform">
							<div class="12u (mobilep)">
							<ul class="actions align-center">
									<input type="checkbox" id="human" name="human">
									<label for="human">I am a human and not a robot</label>
							</ul>

							</div>
							<div class="12u (mobilep)">
								<ul class="actions align-center">
									<li><input type="Submit" value="Sign Up"/></li>
								</ul>
							</div>
						</div>
				</form>
			</section>

		<!-- Footer -->
			<footer id="footer">
					<ul>
						<ul>&copy; University of San Carlos: Sports Club Management System</ul>
						<ul>All rights reserved.</ul>
						<ul></li>
					</ul>
			</footer>

	</body>
</html>