
	<body>

		<!-- Header -->
			<header id="header" class="skel-layers-fixed">
				<h1>USC Sports Database</h1>
				<nav id="nav">
					<ul>
						<li><a href="index.html" class="button">Home</a></li>
					</ul>
				</nav>
			</header>

		<!-- Main -->
			<section id="main" class="container">
				<header>
					<h2>Coach Account Registration</h2>
				</header>
				
				<form action="#">
					 		 <div class="row uniform 50%">
										<div class="4u 12u(narrower)">
										Swimming Event: <br>
			Back Stroke :<br />
			<input type="checkbox" name="back_stroke1" value="yes" checked> 50 meter
			 <input type="checkbox" name="back_stroke2" value="yes"> 100 meter
			 <input type="checkbox" name="back_stroke3" value="yes"> 200 meter
			 <br>
			Free Style : <br>
			<input type="checkbox" name="free_style1" value="yes" checked> 50 meter
			<input type="checkbox" name="free_style2" value="yes"> 100 meter
			<input type="checkbox" name="free_style3" value="yes"> 200 meter
			<input type="checkbox" name="free_style4" value="yes"> 400 meter
			<input type="checkbox" name="free_style5" value="yes"> 800 meter
			<input type="checkbox" name="free_style6" value="yes"> 1500 meter
			<br>
			Butterfly : <br>
			<input type="checkbox" name="butterfly1" value="yes" checked> 50 meter
			<input type="checkbox" name="butterfly2" value="yes"> 100 meter
			<input type="checkbox" name="butterfly3" value="yes"> 200 meter
			<br>
			Breast Stroke : <br>
			<input type="checkbox" name="breast_stroke1" value="yes" checked> 50 meter
			<input type="checkbox" name="breast_stroke2" value="yes"> 100 meter
			<input type="checkbox" name="breast_stroke3" value="yes"> 200 meter
			<br>
			Individual Medley: <br>
			<input type="checkbox" name="individual_medley1" value="yes" checked> 200 meter
			<input type="checkbox" name="individual_medley2" value="yes"> 400 meter
		<br />
		<input type="submit" value="Submit">
		<?php echo form_close(); ?>
	<hr />

							<div class="12u (mobilep)">
							<ul class="actions align-center">
									<input type="checkbox" id="human" name="human">
									<label for="human">I am a human and not a robot</label>
							</ul>

							</div>
							<div class="12u (mobilep)">
								<ul class="actions align-center">
									<li><input type="Submit" value="Next"/></li>
								</ul>
							</div>
						</div>
				</form>
			</section>
